@keyframes pulse-grow {
	to {
		transform: scale(1.05);
	}
}

@keyframes pop {
	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

.pop {
	display: inline-block;

	&:hover {
		animation-name: pop;
		animation-duration: .3s;
		animation-timing-function: linear;
		animation-iteration-count: 1;
	}
}

.pulse-grow {

	&:hover {
		animation-name: pulse-grow;
		animation-duration: .3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
}