// Font weights
$normal-weight: 400;
$bold-weight: 700;

// Base Font
$base-font-family: 'Open Sans',
sans-serif;

// base colors
$white: #ffffff;
$pearl: #f8f9fb;
$black: #000000;
$dark: #494949;
$red: #fd4e4e;
$blue: #1e6090;
$silver: #C8C8C8;
$glacier: #78a6cb;
$light-blue: #2f98d1;
$grey: #acacac;
$blue-placeholder: #58aad4;
$lightblue-placeholder: #cfedff;

// DHL
$orange-dhl: #ee3110;
$yellow-dhl: #FFCC00;

// DPD
$amaranth-dpd: #E61C4A;

// FedEx
$iron-fedex: #E3E4E5;
$indigo-fedex: #4D148C;
$orange-fedex: #F47120;

// UPS
$brown-ups: #693121;
$yellow-ups: #DEB607;

// GLS
$blue-gls: #183073;

// InPost
$yellow-inpost: #FFCC01;

// Poczta Polska
$amaranth-pp: #EE3047;

// GEIS
$yellow-geis: #FFDD00;
$blue-geis: #204B7C;

// RUCH
$blue-ruch: #1189CF;
$greenish-ruch: #C1F14F;

// X-Press
$orange-xpress: #F47120;

// code
$code: #1F85C8;
$code-bcg: #CFEDFF;

// button
$yellow-btn: #FCD73F;